<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Document</title>
</head>
<body>
    <div id="app">
        <h1>입력 폼 활용</h1>
        이름: <input type="text" v-model="myName"> <br />
        좋아하는 색은: <br />
        <label><input type="radio" v-model="color" value="red" >적</label><br>
        <label><input type="radio" v-model="color" value="green" >녹</label><br>
        <label><input type="radio" v-model="color" value="blue" >청</label><br>
        <label><input type="radio" v-model="color" value="yellow" >황</label><br>
        <label><input type="radio" v-model="color" value="gray" >회</label><br>

        내 이름은 {{myName}}이고 좋아하는 색은 {{color}}입니다.
    </div>

    <script>
        new Vue({
            el: '#app',
            data: {
                myName: '',
                color:''
            }
        })
    </script>
</body>
</html>