<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Document</title>
</head>
<body>
    <div id="app">
        <input v-model="findWord">
        <ul>
            <li v-for="item in findItems">{{item}}</li>
        </ul>
    </div>

    <script>
        new Vue({
            el: '#app',
            data: {
                findWord:'',
                items:['설악산','한라산','북한산','백두산','지리산']
            },
            computed: {
                findItems: function() {
                    if(this.findWord) {// findword가 빈칸이 아니면
                        return this.items.filter(function(value) {
                            return (value.indexOf(this.findWord) > -1); // 인덱스가 -1이 아닌 경우에는 this에 담는다. 여기에서 this란 findItems 그 자체를 말한다.
                        }, this);
                    } else {
                        return this.items; //findWord가 빈칸이면 원래 리스트를 그대로 반환한다.
                    }
                }
            }
        })
    </script>
</body>
</html>