<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Document</title>
</head>
<body>
    <div id="app">
        <input type v-model="myName" placeholder="이름">
        <p>{{myName}}</p>
        <textarea v-model="myText"></textarea>
        <p>{{myText}}</p>
        <p>{{myText.length}}</p>
        <label><input type="checkbox" value="red" v-model="myChecks">red</label> 
        <label><input type="checkbox" value="green" v-model="myChecks">green</label> 
        <label><input type="checkbox" value="blue" v-model="myChecks">blue</label> 

        선택한 색은 {{myChecks}}
    </div>

    <script>
        new Vue({
            el: '#app',
            data: {
                myName:'',
                myText:'',
                myChecks:[]
            }
        })
    </script>
</body>
</html>