<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Document</title>
</head>

<body>
    <div id="app">
        <transition-group>
            <li v-for="item in dataArray" v-bind:key="item">{{item}}</li>
        </transition-group>
        <label><input v-model="addItem" placeholder="추가할 리스트"></label>
        <button v-on:click="addList">맨앞에 추가</button>
        <button v-on:click="addList2">맨뒤에 추가</button>
        <button v-on:click="removeLast">맨뒤 1개 삭제</button>
        <button v-on:click="removeFirst">맨앞 1개 삭제</button>
    </div>

    <script>
        new Vue({
            el: '#app',
            data: {
                dataArray: ['김영삼', '김대중', '노무현', '전두환', '노태우'],
                addItem: ''
            },
            methods: {
                addList: function () {
                    if (this.addItem === '') {
                        alert('비어있으면 안됩니다.');
                    } else {
                        this.dataArray.unshift(this.addItem);
                        //이렇게 하면 첫번째에 추가하게 된다.
                    }
                    this.addItem = '';
                },
                addList2: function () {
                    this.dataArray.push(this.addItem);
                    //이렇게 하면 첫번째에 추가하게 된다.
                    this.addItem = '';
                },
                removeLast: function () {
                    let lastIdx = this.dataArray.length - 1;
                    this.dataArray.splice(lastIdx, 1);
                    //splice 메서드는? splice(몇번 인덱스부터, 몇개의 요소를, 무엇으로) 대체하는 배열의 메서드이다.
                },
                removeFirst: function () {
                    this.dataArray.splice(0, 1);
                    //대체할 것을 써놓지 않으면(세번째요소) 삭제를 한다.
                }
            }
        })
    </script>
    <style>
        .v-enter-active, .v-leave-active {
            transition: 0.5s;
        }
        .v-enter, .v-leave-to {
            opacity: 0;
            transform: translateX(50px);
        }
    </style>
</body>

</html>